\# Midterm Exam Review

No correlated subquery.

In [3]:
USE MyGuiTarShop;

a. Return the store with the most staffs.

In [ ]:
Select top 1 StoreName, Count(*)
from Stores JOIN Staff On Stores.StoreID=Staff.StoreID
GROUP BY StoreName
order by count(*) DESC;

b. return the <mark>customers</mark> that have bought products with a list price of $2000 in the last month.

In [ ]:
SELECT c.*
from Customers c 
join Orders o on o.CustomerID=c.CustomerID
join OrderItems oi on o.OrderID=oi.OrderID
join Products p on oi.ProductID=p.ProductID
Where 
    ListPrice=2000 
    AND 
    DATEDIFF(Month, OrderDate, GetDate()) <= 1;

c. Return the number of times that products with model year of 2017 and price of $1000 or more, have been ordered.

In [ ]:
SELECT p.ProductID, ProductName, BrandID, CategoryID, COUNT(*)
FROM Products p 
JOIN OrderItems oi ON p.ProductID=oi.ProductID
WHERE 
    ModelYear=2017 
    AND 
    ListPrice>=1000
GROUP BY p.ProductID, ProductName, BrandID, CategoryID;

f. Return the customers that their number of orders is above average.

Hint: Cannot do the aggr in an agg in the same query. So, CTE and <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">SELECT INTO</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;are one of the ways to do it. Or, creating a temporary table in the sub query</span>

In [ ]:
WITH NOrders AS (
    SELECT CustomerID, Count(*) NumOrders 
    FROM Orders 
    GROUP BY CustomerID
)

SELECT CustomerID, COUNT(*) NumOrders 
INTO #NOrders 
FROM Orders 
GROUP BY CustomerID

-- USE THE TEMPT TABLE IN THE SUB QUERY    
SELECT CustomerID, COUNT(*) NumOrders
FROM Orders 
GROUP BY CustomerID
HAVING COUNT(*)>
    (
        SELECT AVG(NumOrders)
        FROM #NOrders
    );

g. Return the name of all the manager.

Hint: 

SELF-JOIN: joining Staff and StaffCopy tables with the common field is Staff.ManagerID = StaffCopy.StaffID

SELF-Query:

In [ ]:
-- self join
Select DISTINCT m.FirstName, m.LastName
from Staff s 
join Staff m on s.ManagerID=m.StaffID

-- self subquery 
select 

where 
(
    select DISTINCT m.FirstName, m.LastName
    from Staff m 
    )

In [2]:
USE MyGuiTarShop;
select 
    CategoryName, 
    Count(*), 
    Max(ListPrice)
from Categories c 
join Products p on p.CategoryID=c.CategoryID
group by CategoryName
order by count(*) DESC;

CategoryName,(No column name),(No column name)
Guitars,6,2517.00
Basses,2,799.99
Drums,2,799.99

<span style="font-size: 12pt; font-family: Cambria, serif;">d)<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-kerning: auto; font-optical-sizing: auto; font-feature-settings: normal; font-variation-settings: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span>    <span style="font-size: 12pt; font-family: Cambria, serif;">Return the customers with the count of their orders and the total amount for those orders. Order by the customer with the highest orders.<o:p></o:p></span>

In [7]:
use MyGuitarShop;
select 
    c.FirstName+' '+ c.LastName FullName,
    Count(Orders.CustomerID)
from Customers c 
join Orders on c.CustomerID=Orders.CustomerID
group by c.FirstName+' '+ c.LastName
order by count(*) desc

FullName,(No column name)
David Goldstein,3
Allan Sherwood,2
Bette Nicka,2
Kris Marrier,2
Heather Esway,2
James Butt,1
Josephine Darakjy,1
Kiley Caldarera,1
Abel Maclead,1
Alisha Slusarski,1
Lenna Paprocki,1
Leota Dilliard,1
Maryann Royster,1
Mattie Poquette,1
Meaghan Garufi,1
Minna Amigon,1
Mitsue Tollner,1
Sage Wieser,1
Simona Morasca,1
Veronika Inouye,1
Willard Kolmetz,1
Yuki Whobrey,1
Cammy Albares,1
Chanel Caudy,1
Christine Brown,1
Allene Iturbide,1
Art Venere,1
Barry Zimmer,1
Donette Foller,1
Erin Valentino,1
Fletcher Flosi,1
Frank Lee Wilson,1
Gary Hernandez,1
Gladys Rim,1
Graciela Ruta,1

Average number of days for each category.

In [11]:
Use MyGuitarShop;

select CategoryName, AVG(DATEDIFF(DAY, OrderDate, ShipDate)) [Category Frequency per Day]
from Orders o 
join OrderItems oi on oi.OrderID=o.OrderID
join Products p on p.ProductID=oi.ProductID
join Categories c on p.CategoryID=c.CategoryID
group by CategoryName;

CategoryName,Category Frequency per Day
Basses,2
Drums,3
Guitars,2

current month, year, date with GETDATE()

In [15]:
use MyGuitarShop;
select month(getdate()), year(GETDATE()) , day(getdate());

(No column name),(No column name),(No column name)
10,2024,16